#container {
  background-color: #c3c9c9;
  width: 300px;
  height: 230px;
  border: 2px solid black;
  box-shadow: 6px 6px 8px gray;
}

.box {
  display: inline-block;
  width: 75px;
  height: 75px;
  border: 2px solid black;
}

#first {
  background-color: #1abc9c;
}

#second {
  background-color: #e67e22;
}

.prompt {
  font-weight: bold;
  font-size: 20px;
  color: #555;
}

input {
  display: block;
  width: 220px;
  height: 36px;
  font-size: 18px;
  box-sizing: border-box;
}

input[type="number"] {
  display: inline-block;
  width: 220px;
  height: 36px;
}

.button {
  display: inline-block;
  width: 70px;
  height: 36px;
  background-color: #2ecc71;
  border: 2px solid green;
  font-size: 18px;
  vertical-align: top;
  box-sizing: border-box;
  cursor: pointer;
}